.info {
        &-block-item {
            font-family: $font-family-secondary;
            font-weight: $font-weight-primary;
            font-size: 68px;
            line-height: 72px;
            position: relative;
        
                &:nth-child(-n+3)::before {
                    content: "$";
                    font-size: 40px;
                    line-height: 50px;
                    align-items: center;
                }  
            
                &:nth-child(-n+3)::after {
                    @include media ($desktop) {
                        content: "";
                        height: 2px;
                        background: #689FF2;
                        position: absolute;
                        top: 150px;
                        left: 136px;
                        width: 100px;
                    }
                }  
        }
        &-block-list {
            text-align: center;

            @include media-within ($mob, $mob-max) {
                background: url(../images/builds.png) ;
            }

            @include media ($tablet) {
                margin-right: 112px;
                text-align: left;
            }

            @include media ($desktop) {
                width: 370px;
                background: none;
                margin-right: 0;
                text-align: center;
            }
            :hover {
                color: $fill;
            }
        }
        &-span {
            @include media ($desktop) {
            margin-bottom: 80px;
            margin-top: 12px;
            }
        }
        @include media ($tablet) {
            display: flex;
            align-items: center; }
        &-block {
            text-shadow: 1px 1px 2px black;
                @include media ($tablet) {
                    display: flex;
                    flex-direction: column;
                    margin-left: -417px;
                    margin-bottom: -65px;
                    }
                @include media ($desktop) {
                    margin-bottom: 0;
                    background: #161926;
                    opacity: 0.9;
                    margin-left: -170px;
                    padding: 45px 0;
                    flex-direction: row;
                    }
        }
        &-img {
            display: none;
                @include media ($tablet) {
                    display: block;
                }
        }
    @include media ($desktop) {
        display: flex;
        margin-top: -315px;
        align-items: center;
    }

}

article { 
    background: #161926;
    opacity: 0.9;
        @include media ($desktop) {
            width: 403px;
            text-align: left;
        }
    .link {
        @mixin media-within ($tablet, $desktop) {
            width: 454px;
            display: block;
            text-align: right;
                &::after {
                    content: "";
                    position: absolute;
                    background: $fill;
                    opacity: 0.3;
                    width: 30%;
                    height: 13px;
                    bottom: -5px;
                    left: 290px;
            }
        }
    }
}

.article-span {
    margin: 35px 0 50px;
    text-align: end;
        @include media ($desktop) {
            text-align: left;
        }

} 