.background-image {
    background: url(../images/banner-bg.png) no-repeat;
    padding-top: 30px;
        @include media ($desktop) {
            height: 1028.25px;
            width: 100%;
        }
}

h1 {
    color: $color-primary;
    font-family: $font-family-secondary;
    font-size: $font-size-secondary;
    line-height: 28px;
        @include media ($desktop) {
            font-size: 44px;
            line-height: 52px;
        }
}

.link {
    color: $fill;
    font-weight: 700; 
    font-size: 20px;
    position: relative;
    
        &::after {
            content: "";
            position: absolute;
            background: #53F3CD;
            opacity: 0.3;
            width: 100%;
            height: 13px;
            left: 5px;
            bottom: -5px;
        }
        &:hover {
            color: #02E0AB;
                &::after {
                    background: #02E0AB; 
                }
        }
}

a {
    color: $color-primary;
    text-decoration: none;
}

.header__nav-img {
        display: none;
            @include media ($desktop) {
                display: block;
            }
}

.header__nav-list  {
        display: grid;
        grid-template: 1fr 1fr / auto auto auto;
        justify-items: center;
        gap: 20px;
            @include media ($desktop) {
                display: flex;
                justify-content: space-between;
                gap: $gap;
            }

}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    background: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    left: -10px;
    top: 20px;
}

.nav-link:hover::after  {
    opacity: 0.3;
    transition-duration: 1s;
    left: -1px;
}

.header__nav {
    
        @include media ($desktop) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: url(../images/header-bg.png) no-repeat;
            padding: 24px 135px;
        }
    }
   
.header__paragraph {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
        &-span {
            margin-bottom: 35px;
        }
        @include media ($desktop) {
            padding-top: 150px;
            gap: 20px;
            width: 800px;
            margin-left: 0;
        }
}

